body {
    font-family: 'Annie Use Your Telescope';font-size: 22px;
  background-image:url(https://media.giphy.com/media/GC7C2Fi902BDG/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  }

            h1{ background-color:#0B0B3B;}
            p{ background-color:#0B0B3B;}
            h2{background-color:#0B0B3B;}
            p1{ background-color:#0B0B3B;}
            p2{ background-color:#0B0B3B;}
            p3{ background-color:#0B0B3B;}
